@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #4F6F52;
  --color-secondary: #A9B388;
  --color-background: #F7F6E7;
  --color-text-primary: #2C2C2C;
  --color-text-secondary: #6D6D6D;
  --color-accent: #E8C872;
}

body {
  background-color: var(--color-background);
}
